body {
    display: flex;
    flex-direction: column;
    background: #ECFFFF;
    font-family: Epilogue, sans-serif;
}

header {
    border: none;
    font-size: 30px;
    margin-bottom: 20px;
}

#story-board {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto 15vh auto 15vh;
    height: 60vh;
}

#story-line {
    font-size: 30px;
    color: #04019C;

}

#skip-intro {
    width: 150px;
    height: 40px;
    background: black;
    color: white;
    font-size: 25px;
    align-self: right;
}

#start {
    width: 150px;
    height: 50px;
    background: black;
    color: white;
    font-size: 25px;
    align-self: center;
}

#message {
    color: #04019C;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#bad-message {
    margin: auto 100px 20px auto;
}

#game-play {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 50px;
    grid-template-areas:
      "player simon opponent"
      "sand sand sand";
}


#player-control {
    grid-area: simon;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#player-control * {
    margin: 1px;
    padding: 0;
}

.color {
    font-size: 25px;
    height: 150px;
    width: 150px;
    border-radius: 12px;
    border: none;
  }

.color:focus {
    animation: glow .5s;
}

@keyframes glow {
    from {
      box-shadow: 0 0 100px -10px #ff00dd;
    } 
}

.active {
    animation: lightUp 1s;
    border: black;
}

@keyframes lightUp {
  from {
    box-shadow: 0 0 100px -10px black;
  }
}

#blue {
    background: #87DBFF;
}  

#green {
    background: #A2F57B;
}
  
#yellow {
    background:#FDFF87;
}
  
#red {
    background:#FF8787;
}


#next-and-outcomes {
    grid-area: player;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#ready {
    width: 150px;
    height: 50px;
    background: black;
    color: white;
    font-size: 25px;
}

#opponent {
    grid-area: opponent;
    font-size: 30px; 
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

#opponent img {
    max-width: 90%;
}

#sand {
    grid-area: sand;
    background: #F2EBAC
}

#sand-story {
    background: #F2EBAC;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

#level-journey {
    display: flex;
    flex-direction: row;
    background: #04019C;
    justify-content: stretch;
    align-items: center;
    flex-grow: 1fr;
    order: 1;
}
  
  .level {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 15px;
    margin: 5px
  }

  .world {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 15px;
    margin: 5px
  }

  .level-incomplete {
    background-color: #F6F6F6;
  }
  
  .world-incomplete {
    background-color: #898989;
  }

  .level-complete {
    background-color: #F9C3FA;
  }

  .world-complete {
    background-color: #10FDC4;
  }


